:root {
  background-color: #ebebeb;
  font-size: 55%;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #444;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 4rem;
  color: #a764ff;
  margin-bottom: 5rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 1.7rem;
  font-weight: 500;
}

/* Utilities */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* My Buttons */
.btn {
  font-size: 1.6rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #a764ff;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #a764ff;
  background-color: #fff;
  border-radius: 0.5rem;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(150, 106, 255, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* forms */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 0.5rem;
  /* box-shadow: 0 0.1rem 1.4rem 0 rgba(150, 106, 255, 0.5); */
}

input::placeholder {
  color: #aaa;
}

label {
  font-size: 2rem;
  color: #444333;
  margin-bottom: 2rem;
}

h1#finalScore {
  margin-bottom: 2rem;
}
